*{
    padding:0;
    margin:0;
}
body, input, textarea, select{
    font-family: 'Montserrat', sans-serif;
}
select.form-control{
    font-size: 16px;
    width: 550px;
}
label{
    font-size: 18px;
    font-weight: bold;
    color: #FFF;

    background: #808080;
    background: -moz-linear-gradient(-45deg, #808080 0%, #a6a5a5 50%, #949494 51%, #b2b2b2 100%);
    background: -webkit-linear-gradient(-45deg, #808080 0%,#a6a5a5 50%,#949494 51%,#b2b2b2 100%);
    background: linear-gradient(135deg, #808080 0%,#a6a5a5 50%,#949494 51%,#b2b2b2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#808080', endColorstr='#b2b2b2',GradientType=1 );
}
button.form-control{
    border: none;
    width: 550px;
    font-size: 18px;
    color: #6497b1;
    font-weight: bold;
    background: #48d7ff;
    background: -moz-linear-gradient(-45deg, #48d7ff 0%, #5cd7f9 51%, #5cd7f9 51%, #4ad4fb 51%, #9fe8fd 100%);
    background: -webkit-linear-gradient(-45deg, #48d7ff 0%,#5cd7f9 51%,#5cd7f9 51%,#4ad4fb 51%,#9fe8fd 100%);
    background: linear-gradient(135deg, #48d7ff 0%,#5cd7f9 51%,#5cd7f9 51%,#4ad4fb 51%,#9fe8fd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48d7ff', endColorstr='#9fe8fd',GradientType=1 );
}
button:hover{
    border: none;
    color: #005b96;
    background: #0ccaff;
    background: -moz-linear-gradient(-45deg, #0ccaff 0%, #60d1ea 50%, #27cdf7 51%, #9fe8fd 100%);
    background: -webkit-linear-gradient(-45deg, #0ccaff 0%,#60d1ea 50%,#27cdf7 51%,#9fe8fd 100%);
    background: linear-gradient(135deg, #0ccaff 0%,#60d1ea 50%,#27cdf7 51%,#9fe8fd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0ccaff', endColorstr='#9fe8fd',GradientType=1 );
}
button:active{
    border: none;
    background: #7fe3ff;
    background: -moz-linear-gradient(-45deg, #7fe3ff 0%, #96dae8 50%, #6ed9f4 51%, #bdeefc 100%);
    background: -webkit-linear-gradient(-45deg, #7fe3ff 0%,#96dae8 50%,#6ed9f4 51%,#bdeefc 100%);
    background: linear-gradient(135deg, #7fe3ff 0%,#96dae8 50%,#6ed9f4 51%,#bdeefc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fe3ff', endColorstr='#bdeefc',GradientType=1 );
}
h1{
    color: #48D7FF;
}
h1 i:hover{
    color: #16bbea;
}
h1 i:active{
    color: #9fe8fd;
}
.form-control{
    display: block;;
    width: 530px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #BAB9B8;
}
.form-control, #contact-info{
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
#contact-info{
    width: 550px;
    margin: 25px auto;
    padding: 15px;
    background-color: #808080;
}
.header{
    width: 530px;
    height: 39px;
}
.hl, .hr{
    width: 265px;
    float: left;
}
.hr{
    text-align: right;
}
.clear{
    float: none;
}
.pointer{
    cursor: pointer;
}